.body {
    background-color: rgb(252, 252, 252);

  }

  // .my-content :nth-child(){
  //   background: #ddd;
  // }

  .title {
    font-weight: 700;

  }
  .news-image {
    max-height: 600px;
    max-width: 600px;
    padding-top: 20px;

  }
