.body {
    background-color: rgb(252, 252, 252);

  }

  // .my-content :nth-child(){
  //   background: #ddd;
  // }

  .title {
    font-weight: 700;

  }
  .news-image {
    width: 600px;
    height: 400px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;

  }

  div > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
