.body {
    background-color: beige;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-column-gap: 1em;
    grid-gap: 1em;
    grid-auto-rows: minmax(50px, auto);
  }
  
  .wrapper > div {
    background: #eee;
    padding: 1em;
  }
  
  .wrapper > div:nth-child(odd){
    background: #ddd;
  }
  
  .image-style{
    width: 50%;
    background-size: cover;
  
  }
  